/*----------------------------------------------------------------------------------------------------------------*\
    BASIC RESET - please use a better one in production
\*----------------------------------------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

.pageContainer {
    padding: 20px;
}

img {
	width: 100%;
	height: auto;
}





/*----------------------------------------------------------------------------------------------------------------*\
    SLIDER
\*----------------------------------------------------------------------------------------------------------------*/
.slider {
    max-width: 980px;
    margin: 0 auto;
    
    position: relative;
}

.slider .sliderItem {
	max-width: 980px;
	display: none;
	float: left;
}

.slider .sliderItem:first-child {
    display: block;
}

.slider .sliderDisplay {
    max-width: 980px;
    
    overflow: hidden;
    
    position: relative;
}

.slider .sliderContent {
    position: relative;
}

.slider .sliderControls {
    display: none;
}

.slider .sliderControls ul {
    list-style: none;
    
    text-align: center;
}

.slider .sliderControls li {
    margin-right: 10px;
    display: inline-block;
}

.slider .sliderControls a {
    color: #333;
    text-decoration: none;
}

.slider .sliderControls a:hover,
.slider .sliderControls a.selected {
    color: #73BADE;
}

.slider .next,
.slider .prev {
    width: 39px;
    height: 50px;
    margin-top: -25px;
    display: none;
    
    opacity: 1;
    
    position: absolute;
    top: 50%;
}

.slider .next {
    right: 0;
}

.slider .prev {
    left: 0;
}

.slider .next:hover,
.slider .prev:hover {
    opacity: 0.6;
}